body
{
	 
	background-color: 202020;
    overflow-x: hidden;
    margin: 0px;

}



/***********************************************************************************/
/*                              PAGINA PRINCIPAL                                   */
/***********************************************************************************/


/*PER FER QUE LA IMATGE OCUPI TOT + FER QUE LA IMATGE SEMPRE SIGUI VISIBLE AL 100% */





.menu_txt
{
 
    color: whitesmoke;

}

.menu_bar
{
    
    display: flex;

    width: 100%;
    height: 100px;


    position: fixed;
    padding-bottom: 25px;
    flex-direction: row-reverse;




}


.menu_options
{
    display: flex;
    justify-content: center;
    width: 100%;
    


}


#menu_item_color_a
{

    background-color: black;

}
#menu_item_color_b
{

    background-color: purple;

}
#menu_item_color_c
{

    background-color: red;

}

.menu_item_container
{
    display: flex;
    height: 300px;
    transform: translate(0px, -250px);
    transition-duration: 0.4s;
    justify-content: center;
    width: 200px;


}

.menu_item_container:hover, :focus 
{
    transform: translate(0px, 0px);





}

.menu_deploy:hover
{
     background-color: transparent;

    
} 


.menu_deploy 
{
    padding: 40px;
    display: flex;
   
    flex-flow: wrap;

    justify-content: center;
    align-items: center;
    flex-flow: wrap;

    width: 100px;

    text-decoration: none;
    height: 150px;
 
}












.inici
{
    display: flex;
    
	font-family: Amatic SC;
	color: whitesmoke;

    
    justify-self: center;

    height: 100%;


    background-color: ffcb77; /*per si no apareix la imatge afageixo color*/
    


    
    justify-content: center;
    align-items: center;
    flex-flow: wrap;



    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;




}

/*LLIGAT AMB LA CLASSE DE INICI*/

#lobby_img
{

    background-image: url(../images/caca.jpg);
  

}


/*FLEX BOX PER ELS ELEMENTS QUE HI HA A SOTA DE L'INICI I QUE SIGUIN SELECCIONABLES*/


.pagines
{

    display: flex;
    font-family: 'Quicksand';
   
    padding: 25px;

    max-width: 500px;
    max-width: 500px;

    min-width: 100px;
    min-height: 100px;

    width: 500px;
    height: 500px;
    border: 1px solid black;
    

    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: whitesmoke;


    flex-direction: row;


}




.img_bg_color
{



    background-color:tomato;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;


}

/****************************************************/
/*PER CANVIAR LES IMATGES DE CADA UN DE LES FLEX BOX*/
/****************************************************/

#img_pag_1
{
    background-image: url(../images/moneda.png);


}

#img_pag_2
{
    background-image: url(../images/bg.png);

 
}

#img_pag_3
{
    background-image: url(../images/moneda.png);

}

/****************************************************/
/****************************************************/





.zoom:focus 
{

    transform: scale(1.2);


   
}

.zoom:focus .pagines
{

    opacity: 0%;
}

.zoom
{
    transition-duration: 0.4s;


}


.pagines:hover .txt
{
    opacity: 100%;

}

/*quan es fa el hover el BG enfosqueix*/

.pagines:hover
{
    background-color:rgba(0, 0, 0, 0.6);
    
    transition-duration: 0.4s;


}

/*quan es fa un hover apareix el text*/

.pagines:hover .txt_img
{

   

    opacity: 100%;



}



/*estat inicial del text que apareix a sobre de la imatge*/
.txt_img
{
    opacity: 0%;
     transition-duration: 0.4s;

    max-width: 500px;
    min-width: 100px;

   
    word-break: break-all;


}


.txt
{

    opacity: 0%;
    transition-duration: 0.4s;
}

/****************************/



#containers
{
    display: flex;
    flex-flow: wrap;
    justify-content: center;
    gap: 50px;
    padding: 25px;
    





}







/************************************/
/* IMATGES PER A LA SEGUENT PAGINA  */
/************************************/




/*IMATGE PRINCIPAL DE LA 2NA PAGINA*/

#img_inici_1
{

    background-image: url(../images/moneda.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;


}




.mdl_view
{

    display: flex;
    justify-content: flex-start;
    height: 100%;
    padding: 0px;
    flex-flow: inherit;
    width: 100%;

}


#view
{
    display: flex;
    width: 100%;
    height: 100%;
    display: flex;
    background-color: 202020;


}
















/***************/
/*MEDIA QUERIES*/
/***************/

@media only screen and (max-width: 500px)
{


    .menu_bar
    {
    
    display: flex;

    width: 100%;
    height: 100px;


    position: fixed;
    padding-bottom: 25px;
    flex-direction: row-reverse;




    }

    .menu_item_container
    {

   
    height: 100px;
    transform: translate(200px, 0px);
    padding-left: 30px;
    align-items: center;
    


    }


    .menu_bar
    {
    

    flex-direction: column;




    }

    .menu_options
    {

    flex-direction: inherit;
    align-items: flex-end;
    


    }

}


@media only screen and (max-width: 800px)
{
    .pagines
    {

        width: 150px;
        height: 150px;
  
    }

    #containers
    {
  
        gap: 5px;
        justify-content: flex-start;

    }

    .inici
    {

        height: 75%;
       
    }



}



@media only screen and (max-width: 1280px)
{

    .pagines
    {

        width: 350px;
        height: 350px;

    }

    #containers
    {
  
        gap: 10px;
        flex-flow: nowrap;
        overflow: scroll;
      
        overflow-y: hidden;

        -ms-overflow-style: none;  /* IE and Edge */
        scrollbar-width: none;  /* Firefox */

    }

    .inici
    {

        overflow: hidden;

    }

    #containers::-webkit-scrollbar
    {
        display: none;

    }

}

/***************/
/*MEDIA QUERIES*/
/***************/






















