body
{
	 
    overflow-x: hidden;
    margin: 0px;
    background-color: #202020;

}

ul
{
    list-style-type: none;
}
a
{

    text-decoration: none;
}



/***********************************************************************************/
/*                              PAGINA PRINCIPAL                                   */
/***********************************************************************************/


/*PER FER QUE LA IMATGE OCUPI TOT + FER QUE LA IMATGE SEMPRE SIGUI VISIBLE AL 100% */





.menu_txt
{
 
    color: whitesmoke;

}

.menu_bar
{
    
    display: flex;

    width: 100%;
    height: 100px;


    position: fixed;
    padding-bottom: 25px;
    flex-direction: row-reverse;
     font-family: 'Quicksand';




}


.menu_options
{
    display: flex;
    justify-content: center;
    width: 100vw;

    


}


#menu_item_color_a
{

    background-color: #ED6A5E;

}
#menu_item_color_b
{

    background-color: #4CE0B3;

}
#menu_item_color_c
{

    background-color: #49B6FF;

}

.menu_item_container
{
    display: flex;
    height: 300px;
    transform: translate(0px, -250px);
    transition-duration: 0.4s;
    justify-content: center;
    width: 232px;
    border-bottom-right-radius: 35px;


}

.menu_item_container:hover, :focus 
{
    transform: translate(0px, 0px);





}

.menu_deploy:hover
{
     background-color: transparent;

    
} 


.menu_deploy 
{
    padding: 40px;
    display: flex;
   
    flex-flow: wrap;

    justify-content: center;
    align-items: center;
    flex-flow: wrap;

    width: 150px;

    text-decoration: none;
    height: 150px;
 
}





.inici
{
    display: flex;
    
      font-family: 'Quicksand';
	color: whitesmoke;

    
    justify-self: center;

    height: 100vh;


    background-color: #1b998b; /*per si no apareix la imatge afageixo color*/
    


    
    justify-content: center;
    align-items: center;
    flex-flow: wrap;


    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;






}

/*LLIGAT AMB LA CLASSE DE INICI*/

#lobby_img
{

    background-image: url(../images/caca.jpg);
  

}


/*FLEX BOX PER ELS ELEMENTS QUE HI HA A SOTA DE L'INICI I QUE SIGUIN SELECCIONABLES*/


.pagines
{

    display: flex;
    font-family: 'Quicksand';
   
    padding: 25px;

    max-width: 500px;
    max-width: 500px;

    min-width: 100px;
    min-height: 100px;

    width: 500px;
    height: 500px;
    border: 1px solid black;
    

    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: whitesmoke;


    flex-direction: row;


}




.img_bg_color
{

    background-color:black;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;

}

/****************************************************/
/*PER CANVIAR LES IMATGES DE CADA UN DE LES FLEX BOX*/
/****************************************************/

#img_pag_1
{
    background-image: url(../images/zelda_wide.png);


}

#img_pag_2
{
    background-image: url(../images/caca.jpg);

 
}

#img_pag_3
{
    background-image: url(../images/moneda.png);

}

#img_pag_4
{
    background-image: url(../images/ak.png);

}

#img_pag_5
{
    background-image: url(../images/poma.gif);

}
#img_pag_6
{
    background-image: url(../images/friedrich.jpg);

}

#img_pag_7
{
    background-image: url(../images/friedrich_before.png);

}

#img_pag_8
{
    background-image: url(../images/vfx.jpg);

}

#img_pag_9
{
    background-image: url(../images/casa_1.png);

}

#img_pag_10
{
    background-image: url(../images/casa_2.png);

}

#img_pag_11
{
    background-image: url(../images/casa_interior.png);

}

#img_pag_12
{
    background-image: url(../images/casa_aeria.png);

}

#img_pag_13
{

    background-image: url(../images/helmet_fixed.png);

}

#img_pag_14
{

background-image: url(../images/eyebot_solo.png);

}

#img_pag_15
{

background-image: url(../images/hat_solo.png);

}

#img_pag_16
{

background-image: url(../images/ak_solo_1.png);

}


#img_pag_17
{

background-image: url(../images/ak_solo_2.png);

}

#img_pag_18
{

background-image: url(../images/rob_diffuse.png);

}

#img_pag_19
{

background-image: url(../images/rob_wire.png);

}

#img_pag_20
{

background-image: url(../images/shikimoris.jpg);

}



#img_pag_21
{

background-image: url(../images/ps_k.jpg);


}

#img_pag_22
{

background-image: url(../images/genshin_3.png);


}


/****************************************************/
/****************************************************/





.zoom:focus 
{

    transform: scale(1.2);


   
}

.zoom:focus .pagines
{

    opacity: 0%;
}

.zoom
{
    transition-duration: 0.4s;


}


.pagines:hover .txt
{
    opacity: 100%;

}

/*quan es fa el hover el BG enfosqueix*/

.pagines:hover
{
    background-color:rgba(0, 0, 0, 0.6);
    
    transition-duration: 0.4s;


}

/*quan es fa un hover apareix el text*/

.pagines:hover .txt_img
{

   

    opacity: 100%;



}



/*estat inicial del text que apareix a sobre de la imatge*/
.txt_img
{
    opacity: 0%;
     transition-duration: 0.4s;

    max-width: 500px;
    min-width: 100px;

   
    word-break: break-all;


}


.txt
{

    opacity: 0%;
    transition-duration: 0.4s;
}

/****************************/



#containers
{
    display: flex;
    flex-flow: wrap;
    justify-content: center;
    gap: 50px;
    padding: 25px;
    
}







/************************************/
/* IMATGES PER A LA SEGUENT PAGINA  */
/************************************/




/*IMATGE PRINCIPAL DE LA 2NA PAGINA*/

#img_inici_1
{

    background-image: url(../images/garden_ok.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;


}



.mdl_view
{

    display: flex;
    justify-content: flex-start;
    height: 100%;
    padding: 0px;
    flex-flow: inherit;
    width: 100%;
    background-color: black;

    padding-top: 20px;



}


#view
{
    display: flex;
    width: 100%;
    height: 100%;
    display: flex;

}




        /**********/
        /*SOBRE MI*/
        /**********/




.containers_lletres
{

    display: flex;
   
    justify-content: center;
    padding: 25px;
    font-family: 'Quicksand';
    flex-direction: column;


}

.container_lletra
{
    width: 50vw;
    align-self: center;
    margin: 12px;
    background-color:rgba(0, 0, 0, 0.6);
    border-radius: 25px;
    color: whitesmoke;
    padding: 12px;




}

.container_text
{

    padding: 12px;

}

#container_title
{
    text-align: center;

}

#containers_direction
{

    flex-direction: row;
    padding: 0px;
    padding-left: 25vw;
    padding-right: 25vw ;
    width: auto;
}





/********/
/*FOOTER*/
/********/


#no_bg
{

    background-color: transparent;
    text-align: center;
}














/***************/
/**Scroll_IMG **/
/***************/


.scroll_img
{

  display: flex;
    
      font-family: 'Quicksand';
    color: whitesmoke;

    
    justify-self: center;

    height: 35vh;


   
    
    justify-content: center;
    align-items: center;
    flex-flow: wrap;

  
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 50% 50%;
    background-attachment: fixed;





}


.img_scroll_father
{

 padding-top: 25px;
 padding-bottom: 25px;



}

#img_scroll_1
{
    background-image: url(../images/eye_bot_dif.png);
    background-color: black; 


}

#img_scroll_2
{
    
  background-image: url(../images/eye_bot_wire.png);
     background-color: black; 
  

}
#img_scroll_3
{
  background-image: url(../images/eye_bot_dif.png);
   background-color: black; 




}

#img_scroll_4
{

        background-image: url(../images/car_wire.png);
    background-color: black; 





}

#img_scroll_5
{

        background-image: url(../images/car_dif.png);
    background-color: black; 

    
}

#img_scroll_6
{

        background-image: url(../images/car_specular.png);
    background-color: black; 

    
}

#img_scroll_7
{

        background-image: url(../images/helmet_wire.png);
    background-color: black; 

    
}

#img_scroll_8
{

        background-image: url(../images/helmet_dif.png);
    background-color: black; 

    
}

#img_scroll_9
{

        background-image: url(../images/helmet_spec.png);
    background-color: black; 

    
}



/***************/
/**Scroll_IMG **/
/***************/










/***************/
/*MEDIA QUERIES*/
/***************/

@media only screen and (max-width: 600px)
{


    .menu_bar
    {
    
    display: flex;

  
   


    position: fixed;
    padding-bottom: 25px;
    flex-direction: row-reverse;




    }

    .menu_item_container
    {

   
    height: 130px;
    transform: translate(220px, 0px);
    padding-left: 30px;
    align-items: center;
     border-bottom-right-radius: 0px;

     border-bottom-left-radius: 35px;
    


    }


    .menu_bar
    {
    

    flex-direction: column;




    }

    .menu_options
    {

    flex-direction: inherit;
    align-items: flex-end;
    width: 100%;
    


    }

    .menu_deploy
    {
        height: 100px;
        width: 200px;
        padding: 0px;

    }

    .zoom:focus 
    {

    transform: none;


   
    }

}


@media only screen and (max-width: 800px)
{

    .scroll_img
    {
        height: 10vh;

    }
    .pagines
    {

        width: 150px;
        height: 150px;
  
    }

    #containers
    {
  
        gap: 5px;
        justify-content: flex-start;

    }

    .inici
    {

        height: 75vh;
       
    }

    .pagines:active .txt
    {
    opacity: 100%;

    }

    .zoom:focus .pagines
    {

    opacity: 100%;
    }





}



@media only screen and (max-width: 1280px)
{

    .scroll_img
    {
        height: 25vh;

    }

    .pagines
    {

        width: 250px;
        height: 250px;

    }

    #containers
    {
  
        gap: 10px;
        flex-flow: nowrap;
        overflow: scroll;
      
        overflow-y: hidden;

        -ms-overflow-style: none;  /* IE and Edge */
        scrollbar-width: none;  /* Firefox */

    }

    .inici
    {

        overflow: hidden;

    }

    #containers::-webkit-scrollbar
    {
        display: none;

    }


    .container_lletra
    {
        width: 75vw;

    }

}

/***************/
/*MEDIA QUERIES*/
/***************/

















